In [1]:
#Import all necessary libraries

import numpy as np
import pandas as pd

In [4]:
#Reading the dataset

df = pd.read_csv('C:/Users/amrut/Downloads/USA_Housing.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [6]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [7]:
#Data Preprocessing
#creating X

X = df.drop(['Price','Address'],axis = 1)

In [8]:
#Creating Y

Y = df.Price

In [15]:
#Training Model using Linear Regression
#Splitting the data into training and testing data

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.25, random_state = 0)

In [16]:
#Scaling data using StandardScaler

from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()
X_train = Scaler.fit_transform(X_train)
X_test = Scaler.fit_transform(X_test)

In [17]:
#Creating linear regression object

from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.linear_model import LinearRegression
L = LinearRegression()

In [18]:
#Train the model using the training sets
L.fit(X_train,Y_train)

LinearRegression()

In [19]:
#Making predictions using the testing set

Y_pred = L.predict(X_test)

In [20]:
#Coefficient of Determination, R2 score, best possible score is 1.0

from sklearn import metrics
print(L.score(X_test, Y_test))

0.9177012817632234

In [ ]:
            # submitted by Amrutha s kumar